/*
Quando estamos fazendo um layout de um site, o navegador representa cada elemento HTML como uma caixa retangular (box model).
Com o CSS, pode-se alterar a aparência dessa caixa.
O box model tem 4 áreas: margin, border, padding e content
Margin: espaçamentos entre os elementos
Border: circunndam o padding e o conteúdo e dá para alterar a aparência delas, como largura e cor.
Padding: espaçamento entre a borda e o conteúdo
Content: é o que o bloco representa (um texto, uma imagem, um vídeo)


1)Colocar o link do style.css no arquivo index.html
2)Alterar os títulos da página.
    2.1)Tem três títulos: o h1 (título), o h2(subtítulo) e o h3(post)
    2.2)Colocar um id para h1 (pois só aparece uma vez) e criar classes para o h2 e o h3
3)Criar uma classe chamada post para o <article>
*/

body{
    background: #f7f7f7;
    font-family: Verdana; /*Mudando a fonte do site*/
    max-width: 900px; /*900px de largura para o body*/
    margin: auto; /*Esse valor cria um espaçamento do lado e do outro, deixando sempre alinhado, independente do tamanho da tela*/
}

.photo{
    border:1px solid #505050;
    border-radius: 50%;
}

/*Alterando as cores dos três elementos*/
#title, .subtitle, .post_title{
    color: #505050;
}

/*Estilizando o texto do título*/
#title{
    font-size: 40px;
    text-transform: uppercase;
}

/*Mudando a aparência dos links:*/
a{
    text-decoration: line-through;
    color: #505050;
}

/*Alterar o tamanho da fonte e o estilo da fonte do post_title*/
.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0; /*Necessário porque o navegador coloca margem para alguns elementos*/
    margin-bottom: 10px; /*Colocando margem só na parte inferior*/
}

.post{
    background: white;
    padding: 15px; /*Espaçamento entre o bloco e o conteúdo*/
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

/*A imagem estava muito perto do post É uma boa prática manter as margens sempre na mesma direção, então se você quer dar um 
espaçamento entre elementos, escolher colocar margem acima ou só abaixo, por isso aqui foi criada a classe para a imagem.*/
.post_image{
    margin-bottom: 15px;
    width: 100%; /*Com isso, vai sempre respeitar o elemento que está de fora*/
}

.contacts_list{
    list-style-type: none; /*Tira a bolinha da lista*/
    padding-left: 15px; /*Alinha lista com o texto */
}

/*CSS funciona como uma cascata, tem um elemento dentro do outro*/
.contacts_list li a{
    text-decoration: none;
}